.l-note {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 150px;
    margin: 20px;
    padding: 20px 20px 100px;
    background: #ffec3f;
    box-shadow: 2px 2px 2px #d6d6d7;

    &:before {
        border-top: 0 solid #fff;
        border-left: 0 solid #fff;
        position: absolute;
        top: -1px;
        right: -4px;
        content: '';
        background: #fff;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #7e7f89;    
    }

    &__txt {
        margin: 0;

        &--name {
            margin-bottom: 30px;
            font-weight: 900;
        }
    
        &--last-modified {
            position: absolute;
            bottom: 30px;
            font-style: italic;
            font-size: 0.9em;
        }
    }

    &__textarea {
        width: 100%;
        margin: 0 0 10px;
        padding: 8px;
        background: inherit;
        color: #fff;
        border: 1px solid #aba9a9;
        border-radius: 4px;
        font-size: 0.9em;
        resize: none;
        

        &:focus {
            outline: none;
            border: 1px solid #fff;
            color: #fff;
        }

        &::placeholder {
            color: #fff;
            font-style: italic;
        }
    }

    &--add {
        padding: 20px;
        background: #8e8080;
        color: #fff;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
    }
}

@media screen and(min-width: 420px) {
    .l-note {
        width: 280px;
        min-height: 231px;
        padding: 30px 30px 100px;
        font-size: 1.2em;

        &:before {
            border-right: 27px solid transparent;
            border-bottom: 27px solid #7e7f89;    
        }

        &__textarea {
            margin: 0 0 30px;
        }

        &--add {
            padding: 30px;
            font-size: 1.4em;
            transition: transform 0.3s;

            &:hover {
                background: #6b646e;
                transform: scale(1.02);
            }
        }
    }
}

@media screen and(min-width: 992px) {
    .l-note {
        margin: 20px 67px;
    }
}

@media screen and(min-width: 1200px) {
    .l-note {
        margin: 20px;
    }
}

