.l-input {
    margin: 1.5em 0;

    &__elem {
        width: 100%;
        padding: 10px;
        background: #fff;
        font-size: 1em;
        outline: none;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;

        &--invalid {
            background: #fbdfe7;
            border: 1px solid red;
        }

        &:focus {
            background: #eff2ef;
        }
    }
}