.l-button {
    margin-top: 1.5rem;
    padding: 10px 15px;
    background: #4AC7EC;
    font-size: 1em;
    color: #000;
    border: lightblue;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
        background: #1bacd7;
        transform: scale(1.05);
    }

    &__add-note {
        margin: 0;
        padding: 8px 15px 0;
        background: none;
        color: #fff;
        cursor: pointer;
        
        &:hover {
            background: none;
            color: #ffa334;
            transform: scale(1);
        }

        &--disabled {
            color: #aba9a9;
    
            &:hover {
                color: #aba9a9;
            }
        }
    }

    &--disabled {
        background: #b8bdbd;
        transition: none;

        &:hover {
            transform: none;
            background: #b8bdbd;
        }
    }
}