.l-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 15px;
    box-sizing: border-box;

    &__form {
        width: 100%;
    }

    &__heading {
        margin: 1em 0;
        font-size: 1.6em;
        text-align: center;
    }

    &__link {
        display: block;
        width: max-content;
        margin: 2em auto;
        padding: 0.5em;
        text-align: center;
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    &__info {
        margin: 3.5em 0 3em;
        min-height: 20px;
        line-height: 1.4em;
    }

    &__error-msg {
        margin: 3.5em 0 3em;
        min-height: 20px;
        color: #ef0b23;
        line-height: 1.4em;
    }
}


@media screen and(min-width: 420px) {
    .l-form {
        &__form {
            max-width: 360px;
        }
    }
}


@media screen and(min-width: 600px) {
    .l-form {
        &__form {
            max-width: 450px;
        }
    }
}