.l-nav {
    width: 100%;
    height: 55px;
    background: #6b646e;
    font-size: 1.1em;

    &__inner {
        max-width: 320px;
        height: inherit;
        margin: 0 auto;
    }

    &__list {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        height: 100%;
        text-align: center;
        list-style: none;
    }

    &__list-item {
        width: auto;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        color: #fff;
        text-decoration: none;
        box-sizing: border-box;

        &:hover {
            background: #908b92;
        } 
    }
}

@media screen and(min-width: 420px) {
    .l-nav {
        &__inner {
            max-width: 420px;
        }
    }
}

@media screen and(min-width: 600px) {
    .l-nav {
        height: 70px;

        &__inner {
            max-width: 600px;
        }
    }
}

@media screen and(min-width: 992px) {
    .l-nav {
        &__inner {
            max-width: 992px;
        }
    }
}

@media screen and(min-width: 1200px) {
    .l-nav {
        &__inner {
            max-width: 1200px;
        }
    }
}