.l-note-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
    padding: 30px 20px;
    word-break: break-word;
    box-sizing: border-box;

    :nth-child(1n+5) {
        background: #c5d426;
    }

    :nth-child(2n+4) {
        background: #ffa334;
    }

    :nth-child(3n+5) {
        background: #f9ca20;
    }
}

@media screen and(min-width: 420px) {
    .l-note-list {
        max-width: 420px;
        padding: 50px 20px;
    }
}

@media screen and(min-width: 600px) {
    .l-note-list {
        max-width: 600px;
    }
}

@media screen and(min-width: 992px) {
    .l-note-list {
        max-width: 992px;
        justify-content: flex-start;
    }
}

@media screen and(min-width: 1200px) {
    .l-note-list {
        max-width: 1200px;
    }
}